<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block page_title %}{{ page_title|default(config('project.name')) }}{% endblock %}</title>
        <meta name="description" content="{{ config('project.name') }} - {{ config('project.description') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a class="navbar-brand" href="{{ path('home') }}">{{ config('project.name') }}</a></li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('dlx.security.logout') }}">Logout {{ app.user.username }}</a></li>
                        {% else %}
                        <li><a href="{{ path('dlx.security.login') }}">Login</a> | <a href="{{ path('dlx.security.registration') }}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block header %}{% endblock %}
        </header>
        <div id="main">
            {% if errors is defined and errors|length > 0 %}
            <section id="errors">
                <ul>
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                <ul>
            </section>
            {% endif %}
        {% block content %}{% endblock %}
        </div>
        <footer>
            {% if config('app.debug') %}
            <ul>
                <li>Debug: on</li>
                <li>Version: {{ config('app.version') }}@{{ config('app.env') }}</li>
            </ul>
            {% endif %}
        </footer>
    </body>
</html>
